@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de HotWheels</h1>
    <p>
        Los Hotwheels son replicas de vehiculos reales o imaginarios a una escala de 1:60.

    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
